h1 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}
@media (min-width: 992px){
    .column-a-1{
        float: left;
        box-sizing: border-box;
        border: 3px solid black;
        margin: 10px;
        padding: 10px;
        width: 31%;
        background-color: grey;
    }
    
}
@media (min-width: 768px) and (max-width: 991px){
    .column-b-1{
        float: left;
        box-sizing: border-box;
        border: 3px solid black;
        margin: 10px;
        width: 45%;;
        padding: 10px;
        background-color: grey;
    }
    .column-b-2{
        float: left;
        box-sizing: border-box;
        border: 3px solid black;
        margin: 10px;
        width: 92.5%;
        padding: 10px;
        background-color: grey;
    }
}
@media  (max-width: 767px){
    .column-c-1{
        float: left;
        box-sizing: border-box;
        border: 3px solid black;
        margin: 10px;
        width: 92.5%;
        padding: 10px;
        background-color: grey;
    }
    
}
#chicken {
	border: 1px solid black;
	text-align: center;
	width: 29.5%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: -11px;
	padding: 5px;
	background-color:pink;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 29.5%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: -11px;
	padding: 5px;
	background-color: maroon;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	background-color: rgb(177,135,100);
	padding: 5px;
    margin-bottom: 0;
    margin-top: -11px;
}